.img{
    width: 892px;
    height: 582px;
    flex-shrink: 0;
    position: absolute;
}

.seta{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 58px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
}