.img{
  width: 892px;
  height: 582px;
  flex-shrink: 0;
  position: absolute;
}

.seta{
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 58px;
  background: #FFF;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
}

.trending{
  width: 208px;
  height: 80px;
  top: 325px;
  left: 1020px;
  font-family: Marcellus;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  margin: 0;
  color: #717171;

}

.comp{
  width: 67px;
  height: 40px;
  top: 353px;
  left: 1301px;
  font-family: Marcellus;
  font-size: 80px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  position: absolute;
  margin: 0;
  color: #717171;
  
}

.titulos{
  width: 564px;
  height: 176px;
  color: #000;
  font-family: Marcellus;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  margin: 0px;
}

.noticias{
  color: #6C6C6C;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: 30.52px;
  position: absolute;
  font-weight: 500;
  margin: 0px;
}

.ellipse{
  
  flex-shrink: 0;
  border-radius: 44px;
  position: absolute;
}

.autores{
  color: #000;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  line-height: 25.83px;
  position: absolute;
  margin: 0;
}

.botao{
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  width: 186px;
  height: 54px;
  flex-shrink: 0; 
  border-radius: 32px;
  background: #000;
  left: 1010px;
  top: 807px;
  
}

.button{
  width: 186px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 32px;
  border: 2px solid #000;
  top: 807px;
  left: 1222px;
  color: #000;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
}

.icn{
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  top: 13px;
  left: 30px;
  position: absolute;
}

.aaa{
  position: absolute;
  left: 66px;
  top: 13px;
}

.datas{
  color: #6C6C6C;
  text-align: right;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  margin: 0px;
}

.img2{
  width: 747px;
  height: 364px;
  flex-shrink: 0;
  position: absolute;
  top: 1398px;
  left: 87px;
}

.img3{
  width: 747px;
  height: 364px;
  flex-shrink: 0;
  position: absolute;
  top: 1398px;
  left: 898px;
}

.blog{
  color: #000;
  font-family: Radio Canada;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  width: 81px;
  height: 36px;
  top: 1790px;
  left: 87px;
  position: absolute;
}

.blog2{
  color: #A6A6A6;
  font-family: Radio Canada;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  position: absolute;
  top: 1790px;
  left: 217px;
}

.img4{
  width: 475.23px;
  height: 285.672px;
  flex-shrink: 0;
  top: 2396px;
  left: 85px;
  position: absolute;
}

.img5{
  width: 475.23px;
  height: 285.672px;
  flex-shrink: 0;
  top: 2396px;
  left: 626px;
  position: absolute;
}

.img6{
  width: 475.23px;
  height: 285.672px;
  flex-shrink: 0;
  top: 2396px;
  left: 1167px;
  position: absolute;
}